

h1, p {
  color: white; 
}

html, body {
  height: 100%; /* Use 100% to ensure full height */
  margin: 0; /* Reset default margin */
 
}
html, body {
  height: 100%; /* Ensure full height */
  margin: 0; /* Reset default margin */
}

#root {
  height: 100%; /* Ensure the root div also takes full height */
}

.home-container {
  min-height: 100vh; /* Ensure Home component takes full height */
  display: flex; /* Optional: allows flex layout if needed */
  flex-direction: column; /* Optional: set column direction */
}
